.git
.env
.env.*
!.env.example
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/oauth-*.key
tests
docs
docker-compose.yml
Dockerfile
.phpunit.result.cache
phpunit.xml
